#pattern  filter=crypt diff=crypt merge=crypt
env.template  filter=crypt diff=crypt merge=crypt
wireguard/*  filter=crypt diff=crypt merge=crypt
additional_config.bash  filter=crypt diff=crypt merge=crypt
